<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis,org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="com.lingo.app.submit.SubmitMapper">
 
    <resultMap id="resultMapObj" type="com.lingo.app.submit.Submit"></resultMap>
    
   	<sql id="submit">
		seq
		,delNy
		,quizSeq
		,memberSeq
		,answerNy
		,answer   	
	</sql>
	
   <sql id ="selectCommon">
   		FROM    
	    	submit
		WHERE 1=1
			<if test="shKeyword != null and !shKeyword.equals('')">AND memberSeq LIKE CONCAT('%',#{shKeyword},'%')</if>
    </sql>
    
</mapper>