<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis,org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="com.lingo.app.submit.SubmitMapper">
 
    <resultMap id="resultMapObj" type="com.lingo.app.submit.Submit"></resultMap>
    
   	<sql id="submit">
		seq
		,delNy
		,quizSeq
		,memberSeq
		,answerNy
		,answer   	
	</sql>
	
   <sql id ="selectCommon">
   		FROM    
	    	submit
		WHERE 1=1
			<if test="shKeyword != null and !shKeyword.equals('')">AND memberSeq LIKE CONCAT('%',#{shKeyword},'%')</if>
    </sql>

  	<select id="selectOneCount" resultType="Integer">
		SELECT count(*)
		<include refid="selectCommon" />
	</select>

   	<select id="selectList" resultMap="resultMapObj">
		SELECT aa.* FROM (   	
	   		SELECT
				<include refid="submit" />
	   			<include refid="selectCommon" />
			)aa
		LIMIT #{rowNumToShow} OFFSET #{startRnumForMysql}	   			
   	</select>
   	
   	<select id="selectOne" resultMap="resultMapObj">
   		SELECT
			<include refid="submit" />
   		FROM
   			submit
		WHERE 1=1
			AND seq = #{seq}	
   	</select>   	
   	
   	<update id="update">
   		UPDATE submit
   		SET
   			quizSeq = #{quizSeq}
   			,memberSeq = #{memberSeq}
   			,answerNy = #{answerNy}
   			,answer = #{answer}
		WHERE
			seq = #{seq}	
   	</update>   	
   	 
   	<update id="delete">
   		UPDATE submit
   		SET
   			delNy = 1
		WHERE
			seq = #{seq}	
   	</update>  
    
  	<insert id="insert">
   		INSERT INTO submit (
   			delNy
			,quizSeq
			,memberSeq
			,answerNy
			,answer 
   		) values (
   		  	0
   		  	,#{quizSeq}
   			,#{memberSeq}
   			,#{answerNy}
   		  	,#{answer}
   		)
   	</insert> 
    
</mapper>